@{
    ViewData["Title"] = "تماس با ما ";
}
<h1>@ViewData["Title"]</h1>

<h2 class="mt-4"> راه های ارتباطی : </h2>

<div class="mt-4">
<div class="row justify-content-center">
    <div class="col-12 col-sm-4">
        <div class="d-flex align-items-stretch">
            <div class="card border border-0">
                <div class="card-header"> ایمیل</div>
                <div class="card-body">
                    <h5 class="card-title">
                        با من تماس بگیرید.
                    </h5>
                    <p class="card-text">
                        شما می توانید برای ارتباط با من به شماره زیر تماس بگیرید.
                    </p>
                    <div class="card-footer">
                        <a href="tel:+98917-531-2786" class="text-decoration-none btn btn-outline-primary">تماس</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-4">
        <div class="d-flex align-items-stretch">
            <div class="card border border-0">
                <div class="card-header"> ایمیل</div>
                <div class="card-body">
                    <h5 class="card-title">
                        به من ایمیل بزنید.
                    </h5>
                    <p class="card-text">
                        شما می توانید برای ارتباط با من با ایمیل زیر مکاتبه کنید.
                    </p>
                    
                    <div class="card-footer"><a href="mailto:omidsalangi1@gmial.com" class="text-decoration-none btn btn-outline-primary">ایمیل</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>