@model IEnumerable<ShowGroupViewModel>

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a class="text-decoration-none" href="/group/@item.GroupId/@item.Name">@item.Name</a>
            <span class="badge bg-secondary">@item.ProductCount</span>
        </li>
    }
</ul>

