@using market.Data.Repositories
@inject IGroupRepositories _groupRepositories;
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        گروه ها 
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var item in _groupRepositories.GetAllCategories())
        {
            <li><a class="dropdown-item" href="/Group/@item.Id/@item.Name">@item.Name</a></li>
        }
    </ul>
</li>