@model RegisterViewModel
@{
    ViewData["Title"] = "SuccessRegister";
}
<h1> ثبت نام با موفقیت انجام شد. </h1>
<div class="alert alert-success">
<p>ایمیل '@Model.Email' با موفقیت ثبت نام شد.</p>
<p>
    <a asp-controller="Accounts" asp-action="Login">ورود به سایت</a>
</p>
</div>
